<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nanobernetics - Coming Soon!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<video poster="/static/images/construction.jpg" id="bgvid" playsinline autoplay muted>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="/static/videos/construction.webm" type="video/webm">
    <source src="/static/videos/construction.mp4" type="video/mp4">
</video>
<div class="container">
    <img src="/static/images/C464_Nanobernetics_03.png" height="15%" width="15%" />
    <div class="jumbotron">
        <h1>New Site Coming!!</h1>
    </div>
</div>

</body>
</html>
