<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nanobernetics - Coming Soon!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/font-awesome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<video poster="/static/images/construction.jpg" id="bgvid" playsinline autoplay muted>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="/static/videos/construction.webm" type="video/webm">
    <source src="/static/videos/construction.mp4" type="video/mp4">
</video>
<div class="container">
    <div class="bg-white-transparent">
        <div class="jumbotron">
            <img src="/static/images/logo.png" height="50%" width="50%" id="logo" />
        </div>
        <div class="jumbotron">
            <div class="social-icons">
                <i class="fa fa-facebook-square fa-5x" aria-hidden="true"></i>
                <i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i>
                <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>

</body>
</html>
