<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nanobernetics</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/static/css/creative.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
    <video poster="/static/images/landing_bg.jpg" id="bgvid" playsinline autoplay muted>
        <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
        <source src="/static/videos/landing_bg.webm" type="video/webm">
        <source src="/static/videos/landing_bg.mp4" type="video/mp4">
    </video>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="/static/images/logo2.png" height="50px"></a>
                 <a class="navbar-brand">Nanobernetics</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#technology">Technology</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#news">News</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 class="transparent-black-bg">Optimizing nanotechnology to revolutionize precision oncology medicine.</h1>
                <hr>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Highly sensitive. Cost effective. Fast. Portable.</h2>
                    <hr>
                    <h4>Novel precision molecular monitoring platform using carbon nanotube technology to rapidly test
                        for biomarkers including DNA, RNA, and protein.</h4>
                    <hr class="light">
                    <p class="text-faded">Founded in 2016, Nanobernetics is focused on
                        bringing a highly precise, cost effective, and easily accessible device to the oncology
                        treatment landscape. Currently, we are focused on Chronic Myeloid Leukemia (CML) patients,
                        who require lifelong frequent monitoring of BCR-ABL mRNA to evaluate treatment response.
                        With over 100,000 patients in the U.S., our Smart CML Detection system produces accurate
                        quantitative measurements to improve disease treatment and enhance the quality of life for
                        CML patients.</p>
                    <hr class="light">
                    <a href="#technology" class="page-scroll btn btn-default btn-xl sr-button">Learn about the technology!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="technology">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="transparent-black-bg">
                        <h2 class="nano-orange section-heading">Smart CML Detection™</h2>
                        <hr class="primary">
                        <p class="text-faded">Chronic Myeloid Leukemia (CML) is a blood cancer that produces the mutated gene BCR-ABL. Current
                            molecular monitoring for CML is done via qRT-PCR, which may result in false negative remission
                            diagnoses due to lack of sensitivity. 60% of CML patients experience disease recurrence after
                            treatment is withdrawn.</p>
                        <hr class="light">
                        <p class="nano-orange">Our carbon nanotube technology enables precision monitoring in the femtomolar
                            range, a 1000x enhanced sensitivity compared to existing detection technologies. The multi-probe
                            detection system uses our Smart CML Chip™ in a small portable device, enabling rapid, precise,
                            and cost-effective disease monitoring in the comfort of the patient’s home. Our technique
                            transforms molecular monitoring as an indispensable tool for precision oncology medicine.</p>
                    </div>
                    <a href="#team" class="page-scroll btn btn-default btn-xl sr-button">Meet The Team!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="team" class="bg-dark">
        <div class="container">
             <div class="row">
                 <div class="col-lg-12 text-center">
                     <h2 class="section-heading">The Team</h2>
                     <hr>
                 </div>
             </div>
             <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box tr">
                        <!-- <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i> -->
                        <img src="/static/images/Vanegas-Headshot.jpg" height="200px">
                        <div class="transparent-black-bg">
                            <h3>Camilo Vanegas</h3>
                            <p class="text-muted">Camilo grew up in Columbia, Maryland and attended the ARL Biotechnology
                                career academy which forever changed his outlook on science. He continued to pursue and
                                explore his passions in multiple labratories at the University of Maryland, College Park
                                (UMCP) and graduated with a BS in Kinesiology. While attending UMCP he fell in love with
                                improving the human condition and decided to attend the University of Maryland school of
                                Medicine, Graduate Program in Life Sciences. He is currently a 4th year PhD candidate in
                                the Molecular Medicine program working on understanding the mechanisms behind skeletal
                                muscle movement with regards to calcium channels and interacting proteins . Camilo hopes to
                                one day make biology as ubiquitous and user-friendly as an iPhone so that anyone can enjoy
                                its beauty. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <img src="/static/images/Weingarter-Headshot.png" height="200px">
                        <h3>Elizabeth Weingarter</h3>
                        <div class="transparent-black-bg">
                            <p class="text-muted">Elizabeth is a PhD candidate in the Molecular Microbiology and
                                Immunology Graduate Program at the University of Maryland, Baltimore. She is originally
                                from Cincinnati, Ohio. Elizabeth graduated from DePauw University in 2013 with a BA in
                                Biochemistry. Currently, she is focusing her thesis research on the functional status of
                                regulatory T cells in Systemic Lupus Erythematosus. Elizabeth aspires to be build a career
                                in which she will help turn promising research findings into treatment options for patients
                                and caregivers. She is motivated by a desire to make in impact in disease treatment and
                                management.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <img src="/static/images/Saunders-Headshot.jpg" height="200px">
                        <h3>Grant Saunders</h3>
                        <p class="text-muted">Grant studied Artificial Intelligence and Information Inter-networking at
                        The Georgia Institute of Technology, graduating with a BS in Computer Science in 2012. He's
                        experienced a variety of software development styles with previous experience working on Java
                        and Python Full-Stack Web Applications, writing test software to help regulate the stock market
                        at FINRA, and managing software releases at Bloomberg BNA. Grant is driven by learning new
                        technologies and solving real world problems with the expertise he already has. He hopes to
                        combine healthcare with deep learning algorithms to improve patient outcomes.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr class="light">
                    <a href="#news" class="page-scroll btn btn-default btn-xl sr-button">Latest Updates</a>
                </div>
            </div>
        </div>
    </section>

     <section class="bg-primary" id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h2 class="text-center">Latest News</h2>
                    <hr class="light">
                    <p>
                        <a href="http://technical.ly/baltimore/2016/08/16/nanobernetics-umd-phd-camilo-vanegas-elizabeth-weingarter/" class="text-faded">
                            <b>August 2016:</b> Nanobernetics is featured on Technical.ly
                        </a>
                    </p>
                    <p>
                        <a href="http://elm.umaryland.edu/young-som-entrepreneurs-win-national-contest/" class="text-faded">
                            <b>August 2016:</b> Nanobernetics wins the Innovation Spotlight Award for Smart CML Detection
                        </a>
                    </p>
                    <p>
                        <a href="http://www.prweb.com/releases/2016/07/prweb13575946.htm" class="text-faded">
                            <b>July 2016:</b> Nanobernetics wins the Nanotechnology Startup Challenge in Cancer (NSC2)
                        </a>
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2">
                    <h2 class="text-center">Upcoming</h2>
                    <hr class="light">
                     <p>
                         <a href="http://2016.baltimoreinnovationweek.com/" class="text-faded">
                            <b>September 26:</b> Visit us at the 2016 Baltimore Innovation Week!
                         </a>
                     </p>
                </div>

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <hr>
                    <a href="#contact" class="page-scroll btn btn-default btn-xl sr-button">Follow us!</a>
                </div>
            </div>
        </div>
    </section>


    <section id="contact">
        <div class="">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="transparent-black-bg white-text">
                        <h2 class="section-heading">Contact Us</h2>
                        <hr class="primary">
                        <a href="https://www.facebook.com/Nanobernetics"><i class="fa fa-facebook-square fa-5x sr-contact"></i></a>
                        <a href="mailto:Camilo.Vanegas@nanobernetics.com"><i class="fa fa-envelope fa-5x sr-contact"></i></a>
                        <a href="https://www.linkedin.com/company/nanobernetics"><i class="fa fa-linkedin-square fa-5x sr-contact"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/js/creative.min.js"></script>

</body>

</html>
