<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nanobernetics</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/static/css/creative.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Nanobernetics</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#technology">Technology</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#news">News</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Optimizing nanotechnology to revolutionize precision oncology medicine.</h1>
                <hr>
                <p>text could go here...</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Highly sensitive. Cost effective. Fast. Portable.</h2>
                    <hr>
                    <h4>Novel precision molecular monitoring platform using carbon nanotube technology to rapidly test
                        for biomarkers including DNA, RNA, and protein.</h4>
                    <hr class="light">
                    <p class="text-faded">Founded in 2016 at the University of Maryland, Nanobernetics is focused on
                        bringing a highly precise, cost effective, and easily accessible device to the oncology
                        treatment landscape. Currently, we are focused on Chronic Myeloid Leukemia (CML) patients,
                        who require lifelong frequent monitoring of BCR-ABL mRNA to evaluate treatment response.
                        With over 100,000 patients in the U.S., our Smart CML Detection system produces accurate
                        quantitative measurements to improve disease treatment and enhance the quality of life for
                        CML patients.</p>
                    <a href="#technology" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="technology">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="nano-orange section-heading">Smart CML Detection™</h2>
                    <hr class="primary">
                    <p class="text-faded">Chronic Myeloid Leukemia (CML) is a blood cancer that produces the mutated gene BCR-ABL. Current
                        molecular monitoring for CML is done via qRT-PCR, which may result in false negative remission
                        diagnoses due to lack of sensitivity. 60% of CML patients experience disease recurrence after
                        treatment is withdrawn.</p>
                    <hr class="light">
                    <p class="nano-orange">Our carbon nanotube technology enables precision monitoring in the femtomolar
                        range, a 1000x enhanced sensitivity compared to existing detection technologies. The multi-probe
                        detection system uses our Smart CML Chip™ in a small portable device, enabling rapid, precise,
                        and cost-effective disease monitoring in the comfort of the patient’s home. Our technique
                        transforms molecular monitoring as an indispensable tool for precision oncology medicine.</p>
                    <a href="#team" class="page-scroll btn btn-default btn-xl sr-button">Meet The Team!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="team" class="bg-dark">
        <div class="container">
             <div class="row">
                 <div class="col-lg-12 text-center">
                     <h2 class="section-heading">The Team</h2>
                     <hr>
                 </div>
             </div>
             <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <!-- <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i> -->
                        <img src="/static/images/Vanegas-Headshot.jpg" height="200px">
                        <h3>Camilo Vanegas</h3>
                        <p class="text-muted">Camilo bio goes here</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Elizabeth Weingarter</h3>
                        <p class="text-muted">Elizabeth Bio here</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Grant Saunders</h3>
                        <p class="text-muted">Am I allowed on here?</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr class="light">
                    <a href="#news" class="page-scroll btn btn-default btn-xl sr-button">Latest Updates</a>
                </div>
            </div>
        </div>
    </section>

     <section class="bg-primary" id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">News</h2>
                    <hr class="light">
                    <p class="text-faded">Will need to decide format and what should go here./</p>
                    <a href="#contact" class="page-scroll btn btn-default btn-xl sr-button">Follow us!</a>
                </div>
            </div>
        </div>
    </section>


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <hr class="primary">
                    <p>blah blah blah follow us plz. we need social accounts and need to decide how we want to
                    tell people to connect with us</p>
                </div>
                <div class="col-lg-3 col-lg-offset-1 text-center">
                    <i class="fa fa-facebook-square fa-5x sr-contact"></i>
                </div>
                <div class="col-lg-3 text-center">
                    <i class="fa fa-linkedin-square fa-5x sr-contact"></i>
                </div>
                <div class="col-lg-3 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:contact@nanobernetics.com">contact@nanobernetics.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/js/creative.min.js"></script>

</body>

</html>
